.overview {
    display: flex;
    border-bottom: 1px solid #f4f2f2;
    align-items: center;
    &__heading {
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;
    }

    &__stars{
       margin-right: auto;
       display: flex;

    }

    &__icon-star, &__icon-location {
        height: 1.75rem;
        width: 1.75rem;
        fill: #eb2f64
    }

    &__location {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
    }

    &__icon-location {
        margin-right: 0.5rem;
    }

    &__rating {
        background-color: #eb2f64;
        margin-left: 3rem;
        color: white;
        align-self: stretch;
        padding: 0 2.25rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

    }

    &__rating-average {
        font-size: 2.25rem;
        font-weight: 300
    }

    &__rating-count {
        font-size: 0.8rem;
        text-transform: uppercase;
    }
}


.btn-inline{
border: none;
color: #eb2f64;
font-size: inherit;
border-bottom: 1px solid currentColor;
display: inline-block;
background-color: transparent;
cursor: pointer;
transition: all 0.2s;

&:hover{
    color: #333;
}

&:focus {
    outline: none;
    animation: pulsate 1s infinite;
}

}

@keyframes pulsate {
    0% {
transform: scale(1);
box-shadow: none;
    }

    50%{
transform: scale(1.05);
box-shadow: 0 1rem 4rem rgba($color: #000000, $alpha: 0.25)
    }

    100%{
        transform: scale(1);
        box-shadow: none;
    }
}