
    <p class="paragraph">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nisi dignissimos debitis ratione sapiente saepe. Accusantium cumque, quas, ut corporis incidunt deserunt quae architecto voluptate.
    </p>
    <p class="paragraph">
     Accusantium cumque, quas, ut corporis incidunt deserunt quae architecto voluptate delectus, inventore iure aliquid aliquam.
    </p>

     <ul class="list">
         <li class="list__item">close to beach</li>
         <li class="list__item">breakfast included</li>
         <li class="list__item">Free airport shuttle</li>
         <li class="list__item">Free wifi</li>
         <li class="list__item">Air conditioner</li>
         <li class="list__item">Pets not allowed</li>
         <li class="list__item">Perfect for families</li>
         <li class="list__item">We speak all languages</li>
     </ul>

     <div class="recommend">
           <p class="recommend__count">
               Lucy and 3 others friend recommend this hotel
           </p>
           <div class="recommend__friends">
               <img src="./../../../assets/img/user-3.jpg" alt="photo 1" class="recommend__photo">
               <img src="./../../../assets/img/user-4.jpg" alt="photo 2" class="recommend__photo">
               <img src="./../../../assets/img/user-5.jpg" alt="photo 3" class="recommend__photo">
               <img src="./../../../assets/img/user-6.jpg" alt="photo 4" class="recommend__photo">
           </div>
     </div> 